@import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);
#header{
  background-color: var(--color5);
  color: var(--color2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  height: 5em;
  box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.75);
}

#header > .left,
#header > .right{
  width: 40%;
}

#siteIdentity{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1em;
}

#siteIdentity > img{
  height: 3.4em;
}

#siteIdentity > div{
  margin-left: 1em;
  display: flex;
  flex-flow: row;
}

#siteIdentity > div > h2{
  margin:0;
  line-height: 1em;
  font-family: Rajdhani;
  font-weight: bold;
  font-family: var(--font1);
  font-size: 1.85em;
}

#siteIdentity > div > h2.i0{
  color: var(--color2);
}

#siteIdentity > div > h2.i1{
  color: var(--color4);
}

#mainNavigation > ul{
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

#mainNavigation > ul > li > a{
  text-decoration: none !important;
  color: var(--color2);
  font-family: var(--font2);
  font-weight: normal;
  font-size: 1em;
}

#mainNavigation > ul > li > a:hover,
#mainNavigation > ul > li > a:active{
  color: var(--color4);
}

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

:root{
  --color1: #FFFFFF;
  --color2: #E8E8E8;
  --color3: #FFBE47;
  --color4: #FEA501;
  --color5: #090909;
  --font1: "Rajdhani";
  --font2: "Roboto Condensed";
}

*{
  list-style: none;
}

html,body{
  margin:0;
}

