#header{
  font-size: 16px;
  width: 100%;
  background-color: var(--color6);
  color: var(--color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  position: fixed;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  padding-left: 4em;
  padding-right: 4em;
  z-index:10;
}

#header > .left{
  width: 25%;
}
#header > .right{
  width: 75%;
}

#siteIdentity{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1em;
}

#siteIdentity > img{
  height: 3.4em;
}

#siteIdentity > div{
  margin-left: 1em;
  display: flex;
  flex-flow: row;
}

#siteIdentity > div > h2{
  margin:0;
  line-height: 1em;
  font-weight: bold;
  font-family: var(--font1);
  font-size: 1.85em;
}

#siteIdentity > div > h2.i0{
  color: var(--color2);
}

#siteIdentity > div > h2.i1{
  color: var(--color4);
}
#mainNavigation{
  text-align: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  position:relative;
}
#openMenu,
#closeMenu{
  display: none;
  height: 3em;
  cursor: pointer;
  transition: 0.1s;
}
#openMenu:hover,
#closeMenu:hover{
  transform: scale(0.95,0.95);
  transition: 0.1s;
}
#mainNavigation > ul{
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 70%;
  --animate-delay: 0ms;
  --animate-duration: 300ms;
}

#mainNavigation > ul > li > a{
  text-decoration: none !important;
  color: var(--color2);
  font-family: var(--font2);
  font-weight: normal;
  font-size: 1em;
  padding: .5em .2em .5em .2em;
  text-align: center;
}
#mainNavigation > ul > li > a:hover,
#mainNavigation > ul > li > a:active{
  color: var(--color4);
}
@media screen and (max-width: 790px){
  #openMenu{
    display: inline-block;
  }
  #mainNavigation > ul{
    display: none;
    position: fixed;
    background-color: rgb(9 9 9 / 0.9);
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
    top: 4em;
    left:0;
    width: 70%;
    height: 100%;
    padding: 1em;
  }
  #mainNavigation > ul > li{
    width: 100%;
  }
  #mainNavigation > ul > li > a{
    font-size: 1.15em;
    padding: .5em .2em .5em .2em;
    display: block;
  }
}
@media screen and (max-width: 500px){
 #header{
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media screen and (max-width: 360px){
 #header{
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (max-width: 300px){
 #header{
    font-size: 13px;
  }
}
