#ourServices{
  background-color: white;
  font-size: 16px;
  height: 31.25em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  position: relative;
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow:  0px 0px 15px 0px rgba(0,0,0,0.5);
  box-shadow:  0px 0px 15px 0px rgba(0,0,0,0.5);
  z-index: 1;
}
#ourServices > h2{
  display: none;
  color: var(--color4);
  font-family: var(--font1);
  margin-top:0;
  font-size: 2.75em;
}
#ourServices > .services{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  z-index:1;
}
#ourServices .service{
  opacity: 0;
  display: flex;
  flex-flow: column;
  width: 15em;
  align-items: center;
  justify-content:  flex-start;
  text-align: center;
}
#ourServices .service > img{
  height: 4.5em;
  margin-bottom: 1em;
}
#ourServices .service > h3{
  color: var(--color4);
  font-family: var(--font2);
  font-weight: bold;
  font-size: 1.1em;
}
#ourServices .service > p{
  color: var(--color5);
  font-family: var(--font2);
  font-weight: normal;
  font-size: .9em;
  margin:0;
  width: 70%;
}
#ourServices .decorationBlock{
  position: absolute;
}
#ourServices .decorationBlock.i0{
  left:0;
  bottom:0;
}
#ourServices .decorationBlock.i1{
  right:0;
  top:0;
}
@media screen and (max-width:1100px){
  #ourServices > h2{
    font-size: 2.4em;
  }
  #ourServices > .services{
    font-size: .85em;
  }
}
@media screen and (max-width:850px){
  #ourServices > .services{
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 8em;
    margin-right: 8em;
  }
  #ourServices > h2{
    font-size: 2.1em;
  }
  #ourServices > .services{
    font-size: .75em;
  }
}
@media screen and (max-width:600px){
  #ourServices{
    height: 43.75em;
    gap: 0em;
  }
  #ourServices > h2{
    font-size: 1.75em;
    margin-bottom: .25em;
  }
  #ourServices > .services{
    gap: 3em;
  }
}
@media screen and (max-width:500px){
  #ourServices{
    height: 56.25em;
  }
  #ourServices > .services{
    font-size: .9em;
  }
}
@media screen and (max-width:400px){
  #ourServices > h2{
    font-size: 1.7em;
  }
}
