#aboutUs{
  font-size: 16px;
  background-color: #1D1D1D;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2em;
  padding: 3em;
}

#aboutUsTitle{
  color: var(--white);
  font-family: var(--fontTitle);
  margin-top:0;
  font-size: 2.75em;
}

#aboutUs .blocks{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
}

#aboutUs .blocks .block{
  flex-basis: 22.5em;
  height: 18.75em;
  border: 0.1em var(--lightBlue) solid;
  padding: 1.87em;
  color: var(--white);
}

#aboutUs .blocks .block h3{
  color: var(--orange);
  font-family: var(--fontTitle);
  font-weight: 400;
  font-size: 1.43em;
  margin-top: .7em;
  margin-bottom: .7em;
}

#aboutUs .blocks .block p{
  color: var(--white);
  font-family: var(--fontText);
  font-weight: 300;
  font-size: 1em;
  margin-top: 0;
}

#technologies{
  width: 100%;
  min-height: 18.75em;
  border: 0.1em var(--lightBlue) solid;
  padding: 1.87em;
  color: var(--white);
  display: flex;
  flex-flow: column;
  align-items:center;
}

#technologies h3{
  color: var(--white);
  font-family: var(--fontTitle);
  font-weight: 400;
  font-size: 1.43em;
  margin-top: .7em;
  margin-bottom: .7em;
}

#technologies ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
  padding: 0;
}
#technologies ul li img{
    width: 5em;
    height: 5em;
}
@media screen and (max-width: 420px){
  #aboutUs{
    font-size: 14px;
    padding: 2em;
  }
  #aboutUs .blocks .block{
    width: 100%;
    height: auto;
    padding: 1.87em;
  }
}
@media screen and (max-width: 260px){
  #aboutUs{
    font-size: 12px;
  }
  #aboutUsTitle{
    font-size: 2em;
  }
}
