/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
@import "header.css";
@import "coverPage.css";
@import "hello.css";
@import "services.css";
@import "aboutUs.css";
@import "ourProjects.css";
@import "workflow.css";
@import "contact.css";

@import "whyChooseUs.css";
@import "footer.css";
@import "animate.min.css";
:root{
    --orange: #FEA501;
    --lightBlue: #0e6788;
    --white: #FFFFFF;
    --fontTitle: "Montserrat";
    --fontText: "Roboto";
}
*{
    list-style: none;
    behavior: smooth;
    -ms-behavior: smooth;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html,body{
    margin:0;
    overflow-x: hidden;
    overflow-y: auto;
}
.imageButton{
    padding:0;
    background: none;
    border: none;
}
#WhatsAppButton{
    font-size: 16px;
    position: fixed;
    z-index: 9;
    right: 0;
    bottom:0;
    width: 3em;
    height: 3em;
    margin: .75em;
    cursor: pointer;
}
#WhatsAppButton > img{
    width: 3em;
    height: 3em;
}
#WhatsAppButton > img:hover{
    transform: scale(1.05,1.05);
    transition: 0.1s;
}
#WhatsAppButton > .message{
    display: none;
    position: absolute;
    width: 12em;
    right: 2.75em;
    top: -1.75em;
    text-align: center;
    padding: .5em;
    border-radius: 1em;
    border-bottom-right-radius: .1em;
    background: #e5e5e5;
    font-family: var(--fontText);
    color: rgb(27, 27, 27);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
}
