#whyChooseUs{
  font-size: 16px;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  height: 31.25em;
}
#whyChooseUs > .text{
  background-color: var(--color4);
  width: 50%;
  padding: 1.75em;
  padding-left: 6em;
  padding-right: 3em;
}
#whyChooseUs > .text > h2{
  color: var(--color5);
  font-family: var(--font1);
  font-weight: bold;
  font-size: 2.2em;
}
#whyChooseUs > .text > h3{
  font-size: 1.16em;
  color: var(--color6);
  font-family: var(--font2);
  text-transform: uppercase;
}
#whyChooseUs > .text > p{
  font-size: .8em;
  color: var(--color1);
  font-family: var(--font2);

}
#whyChooseUs > img{
  width: 50%;
  object-fit: cover;
  filter: grayscale(100%) contrast(70%);
  -webkit-filter: grayscale(100%) contrast(70%);
  -moz-filter: grayscale(100%) contrast(70%);
}
#whyChooseUs > svg{
  position: absolute;
}
/* Yellow polygon */
#whyChooseUs svg.i0{
  left: 50%;
  top:0;
}
/* White triangle */
#whyChooseUs svg.i1{
  right: 0;
  bottom: 0;
}
