:root{
    --barraNavegacion: #ffffff;
    --barraNavegacionColor: #000000;
    --menu: #ebedf0; 
    --menuColor: #707070;
    --menuBGHover: #e0e1e2;
    --menuColorHover: black;
    --menuBorder: black;
}
header{
    position:relative;
    z-index: 7;
    -webkit-box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.75);  
}
header > nav{
    background: white;
    color: var(--titlePlainBG_Dye);
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
.div-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.div-nav > img{
    height: 80px;
}
.div-nav h1{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: lighter;
    color: var(--activedLogo_Dye);
    line-height: 95%;
}
.div-nav h2{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    color: var(--titlePlainBG_Dye);
    line-height: 95%;
}
.div2-nav{
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.div2-nav > div{
    width:40px;
    cursor: pointer;
    transition: 0.2s;
}
.div2-nav > div > img{
    width: 100%;
}
#btnPresupuesto{
    width: auto;
    height: 60px;
    line-height: 60px;
    margin-right: 30px;
    border: 1px var(--logo_Dye) solid;
    color: black;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}
#btnPresupuesto:hover{
    color: #bebebe;
    transition: 0.2s;
}
#btnAbrirMenu{
    opacity: 75%;
}
#btnAbrirMenu:hover{
    transform: scale(0.9,0.9);
    transition: 0.2s;
    opacity: 100%;
}
#div-menu{
    position: fixed;
    display:none;
    width:100%;
    height: 100%;
    z-index: 8;
    top: 0;
    left:0;
    background: rgba(0, 0, 0, 0.75);
}
#div-menu > div{
    position: fixed;
    display:block;
    width:60%;
    height: 100%;
    z-index: 9;
    top: 0;
    left:0;
}
#div-menu > ul{
    position: fixed;
    display:block;
    width:40%;
    height: 100%;
    z-index: 10;
    top: 0;
    right:0;
    background: var(--menu);
    color: var(--menuColor);
    padding: 20px;
    padding-top: 60px;
}
#btnIrInicio{
    margin-top: 30px;
}
#btnCerrarMenu{
    position:relative;
    height: 40px;
    float:right;
    cursor:pointer;
    z-index:11;
    transition: 0.2s;
}
#btnCerrarMenu:hover{
    transform: scale(0.9,0.9);
    transition: 0.2s;
}
#div-menu > ul a{
    display:block;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
    color: var(--menuColor);
}
#div-menu > ul a:hover{
    background-color: var(--menuBGHover);
    color: var(--menuColorHover);
    transition: 0.2s;
}
#btnPresupuesto_menu{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px var(--menuBorder) solid;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    color: var(--menuColor);
    text-align: center;
    cursor: pointer;
    font-size: 20px !important;
}
#btnPresupuesto_menu:hover{
    color: var(--menuColorHover);
    transition: 0.2s;
}
#div-socialMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 720px){
    header > nav{
        height: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .div-nav > img{
        height: 80px;
    }
    #div-menu > div{
        width:50%;
    }
    #div-menu > ul{
        width:50%;
        padding: 20px;
    } 
    #btnCerrarMenu{
        height: 40px;
    }
    #btnCerrarMenu:hover{
        transform: none;
    }
    #btnCerrarMenu:active{
        transform: scale(0.9,0.9);
        transition: 0.2s;
    }
    #div-menu > ul > a{
        display:block;
        width:100%;
        font-size: 25px;
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #div-menu > ul a:hover{
        transform: none;
        background-color: var(--menu);
        color: var(--menuColor);
    }
    #div-menu > ul a:active{
        background-color: var(--menuBGHover);
        color: var(--menuColorHover);
        transition: 0.2s;
        transition: 0.2s;
    }
}
@media screen and (max-width: 580px){
    .div2-nav #btnPresupuesto{
        display: none;
    }
    #div-menu > div{
        width:35%;
    }
    #div-menu > ul{
        width:75%;
        padding: 15px;
    }
    #div-menu > ul a{
        font-size: 20px;
        padding: 15px;
    }
}
@media screen and (max-width: 360px){
    header > nav{
        height: 65px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .div-nav > img{
        height: 65px;
    }
    .div-nav h1{
        font-size: 25px;
    }
    .div-nav h2{
        font-size: 20px;
    }
}
@media screen and (max-width: 300px){
    .div-nav > img{
        height: 55px;
    }
    .div-nav h1{
        font-size: 20px;
    }
    .div-nav h2{
        font-size: 15px;
    }
}
@media screen and (max-width: 250px){
    header > nav{
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .div-nav > img{
        height: 40px;
    }
    .div-nav h1{
        font-size: 15px;
    }
    .div-nav h2{
        font-size: 10px;
    }
    .div2-nav > div{
        width:30px;
    }
}