#nosotros{
    position:relative;
    min-height: 400px;
    z-index: 2;
    padding-top: 5%;
    padding-bottom: 5%;
    background: white;
}
#nosotros > h1{
    color: var(--titlePlainBG_Dye);
}
#nosotros > h2{
    color: var(--activedLogo_Dye);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}
#nosotros > div{
    margin: auto;
    padding: 3%;
    padding-top: 1.5%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
#nosotros p{
    color: var(--titlePlainBG_Dye);
    font-size: 20px;
}
@media screen and (max-width:1000px){
    #nosotros > div{
        font-size: 12.5px;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (max-width:450px){
    #nosotros p{
        font-size: 15px;
    }
}
@media screen and (max-width:320px){
    #nosotros > h1{
        font-size: 30px;
    }
    #nosotros > h2{
        font-size: 16px;
    }
    #nosotros p{
        font-size: 12px;
    }
}