.portada{
    background: var(--plainBG_Dye);
    height: 600px;
}
.div-portada{
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-portada h1{
    font-size: 50px;
    z-index: 1;
    text-align: center;
    width:70%;
    color: #f3f3f3;
    text-shadow: -1px 2px 12px rgba(0,0,0,0.9);
}
.div-portada:before{
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left:0;
   z-index: 1;
   opacity: 100%;
   background: rgba(0, 0, 0, 0.3);
}
#div-portada1{
    background: url('../../../../media/img/CoverPage/Slide_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#div-portada2{
    background: url('../../../../media/img/CoverPage/Slide_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#div-portada2 h1{
    top: 40%;
}
#div-portada3{
    background: url('../../../../media/img/CoverPage/Slide_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.portadaT2{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    background: rgba(0,0,0,0.5);
}
.portadaT2 h1{
    font-size: 80px;
    color: var(--titleBGSinFondo_Dye);
}
@media screen and (max-width:1000px){
    .portada{
        height: 600px;
    }
    .div-portada{
        height: 600px;
    }
    .div-portada h1{
        font-size: 30px;
        top: 45%;
        width:70%;
    }
    #div-portada2 h1{
        top: 40%;
    }
}
@media screen and (max-width:450px){
    .portadaT2 h1{
        font-size: 60px;
    }
}
@media screen and (max-width: 320px){
    .portadaT2 h1{
        font-size: 40px;
    }
}